version: '3.8'

services:
  comcon_server:
    container_name: comcon_server
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "10100:10100"
    env_file:
      - ./server/.env
    networks:
      - public_network
    restart: unless-stopped
    volumes:
      - ./server:/app:rw
      - /app/node_modules

  comcon_client:
    container_name: comcon_client
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "10200:10200"
    env_file:
      - ./client/.env
    networks:
      - public_network
    restart: unless-stopped
    depends_on:
      - comcon_server
    volumes:
      - ./client:/app:rw
      - /app/node_modules

networks:
    public_network:
      external: true